h1 {
    color: white;
    font-size: 10em;
    font-family: "Verdana";
    letter-spacing: 2px;
    font-variant: small-caps;
}

h2 {
    color: #B0C4DE;
    font-size: 1.5em;
}

h3 {
    color: #BEEEEF;
    font-size: 1em;
}

ul {
    list-style-type: upper-roman;
}

li {
    font-size: 4px;
    font-style: italic;
    color: #123456;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Arial", sans-serif;
}

a{
    color: #A0C3ED;
    font-size: 5em;
    letter-spacing: 2px;
    background: #101010;
}

p {
    color: yellow;
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 15px;
}
